@import "variables";

@fontBrandSize: @fontBody * 1.5;
@logoScale: 2;

.brandWrap {
    width: 40px;
    left: 10px;
    margin-left: 0;
    top: 0;
    .brandName {
        font-size: @fontBrandSize - 4;
        line-height: @fontBrandSize * @logoScale;
        float: none;
        margin-left: 0;
        position: absolute;
        top: 140px;
        left: -81px;
        width: 200px;
        transform:rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
    }
    .brandLogo {
        width: 40px;
        height: 50px;
        position: absolute;
        top: 0;
        left: 0;
        float: none;
        span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -5px;
            transform:rotate(90deg);
            -ms-transform:rotate(90deg); /* IE 9 */
            -webkit-transform:rotate(90deg); /* Safari and Chrome */
        }
        
    }
}

nav {
    &.social {
        display:  inline;
        font-size: @fontBody - 2px;
        margin:  0 10px;
        a {
            color: @fontLinkColor;
            text-decoration: none;
            height:  19px;
            line-height: 19px;
            width:  19px;
            text-align: center;
            display: inline-block;
            overflow: hidden;
            letter-spacing: 10px;
            &:hover {
                font-size: @fontBody;
            }
        }
    }
}

article, .pageContainer {
    width:  auto;
    padding: 0;
    padding-left:  60px;
    margin: auto;
}

.pageContainer {
    list-style: none;
    li {
        margin: 0;
        padding: 0;
        width:  300px;
        p {
            margin: 0;
            &.title {
                font-family: @typeHeadline;
                font-size: @fontBody + 10;
                line-height: @fontBody + 15;
                margin-bottom: 5px;
                a {
                    text-decoration: none;
                    color: lighten(desaturate(@colorBrand, 100%), 10%);
                    &:hover{
                        color: lighten(desaturate(@colorBrand, 60%), 10%);
                    }
                }
            }
            &.summary {
                font-family: @typeBody;
                font-size: @fontBody;
                color: lighten(desaturate(@colorBrand, 100%), 15%);
                line-height: @fontBody * 1.6;
            }
        }
    }
}

/* Utility */

.gradient() {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.95) 0%, rgba(255,255,255,0.95) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.95)), color-stop(60%,rgba(255,255,255,0.95)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0.95) 0%,rgba(255,255,255,0.95) 60%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */
}