@import "variables";

/* Setup Type-Specific Variables */

@fontBodyColor: desaturate(@colorBrand, 100%);
@fontLinkColor: lighten(spin(@colorBrand, 190), 8%);

article {
    h1 { 
        .heading(1);
        margin: 10px 0 20px 0;
    }
    h2 { .heading(2); }
    h3 { .heading(3); }
    address {
        font-family: @typeBody;
        font-size: @fontBody;
        font-weight: 300;
        font-style: normal;
        color: lighten(@fontBodyColor, 10%);
        line-height: @fontBody * 1.6;
    }
    p, li {
        font-family: @typeBody;
        font-size: @fontBody;
        font-weight:  400;
        color: @fontBodyColor;
        line-height: @fontBody * 1.6;
        margin: 10px 0;
        b, strong{
            color: darken(@fontBodyColor, 10%);
            font-weight: 600;
        }
        i, em {
            font-style: italic;
        }
        a {
            color: @fontLinkColor;
            text-decoration: none;
            &:hover {
                color: lighten(@fontLinkColor, 20%);
                text-decoration: underline;
            }
        }
    }
    blockquote {
        padding-left: 20px;
        margin: 20px;
        font-style: italic;
        border-left: 2px solid lighten(@fontBodyColor, 50%);
        color: @fontBodyColor;
        cite {
            display: block;
            font-family: @typeBody;
            font-size: @fontBody;
            font-weight:  400;            
            &:before{
                content: "— ";
                margin-left: 10px;
            }
        }
        i, em {
            font-style: normal;
        }
    }
}


/* Utilities */
    
    .heading(@n) {
        font-size: (@fontBody * (2.8 - (@n * .4)));
        font-weight: 400;
        color: @fontBodyColor;
        margin: 10px 0;
        font-family: @typeHeadline;
    }
