doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='description', content= summary)
    meta(name='keywords', content= keywords)
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@nathanziarek")
    meta(name="twitter:title", content= title)
    meta(name="twitter:description", content= summary)
    meta(name="twitter:creator", content="@nathanziarek")
    meta(name="twitter:domain", content="latetotheparty.co")
    title= title
  body
      block content
      div(class='brandWrap')
          div(class='brandContainer')
              a(href='/') Late to the Party
              nav(class='social')
                  a(href='https://plus.google.com/108120786603469208780/?rel=author', class='google') g
                      span Google+
                  a(class='twitter', href='http://twitter.com/nathanziarek') t
                      span Twitter               
                  a(class='linkedin', href='http://linkedin/in/nathanziarek') l
                      span LinkedIn